body {
  font-family: Arial;
  background: #0b1220;
  color: white;
  text-align: center;
}

.auth-box input {
  margin: 5px;
  padding: 8px;
}

button {
  margin: 10px;
  padding: 10px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}

.movie-card {
  display: flex;
  gap: 15px;
  background: #111827;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.movie-card img {
  width: 100px;
  border-radius: 8px;
}